/* CSS Document */

.doc_main {
	padding-top:0px;
	width:100%;
	height:660px;
    /*background: rgb(61, 61, 61);*/
    background: rgb(93, 95, 100);
}
.title{
	background:url(images/title.png) no-repeat;
	height: 60px;
    text-align: center;
    top: 0px;
	left:0px;
    width: 100%;
	}
.section{
padding-top: 1px;
height:600px;
padding-bottom:0;
background: rgb(240,240,240); 
	}
.section2{
height:600px;
padding-bottom:0;
padding-left:200px;
background: rgb(240,240,240); 
	}
.aside{
	position: absolute;
	top: 70px;
	left: 8px;
	width: 200px;
	//height:100%;
	min-height: 598px;
	background-color: rgb(61,61,61);
	float: left;
	}
.app-entry{
	height: 48px;
line-height: 34px;
width: 160px;
position: absolute;
	
	}
.entry{
	height: 48px;
line-height: 34px;
width: 160px;
position: relative;
	/*list-style-type: none;*/
	list-style:none;
	}
.app{
	padding-left: 0px;
	padding-top: 13px;
	height: 48px;
	line-height: 104px;
	position: relative;
	cursor: pointer;
	text-decoration: none;
	display: block;
	font:  15px 'ו';
	color:#fff;
	font-weight: bold;
	text-align:center;

		}
.app2{
	padding-top: 13px;
	height: 48px;
	line-height: 104px;
	position: relative;
	cursor: pointer;
	text-decoration: none;
	display: block;
	font:  15px 'ו';
	color:#fff;
	font-weight: bold;
	text-align:justify;
		}		
.app-icon i-disk{ 
background-image:url(../styles/images/datelist.png) no-repeat
}

.app-icon {
position: absolute;
top: 7px;
left: -15px;
display: block;
width: 32px;
height: 32px;
background-repeat: no-repeat;
}
.app-icon2 {
position: absolute;
top: 7px;
left: -45px;
display: block;
width: 32px;
height: 32px;
background-repeat: no-repeat;
}
#ft {
	position: absolute;
	z-index: 3;
	right: 0;
	left: 8px;
	top:660px;
	//bottom: 0px;
	width: 100%;
	height: 10px;
	min-width:700px;
	padding-top: 0px;
	background-color: rgb(61,61,61);
}


.sub-menu ul{
	display:none;
}

.app-entry2{
	height: 48px;
line-height: 34px;
width: 160px;
position: relative;
	/*list-style-type: none;*/
	list-style:none;
	}
	
.menu{
	height: 48px;
line-height: 34px;
width: 160px;
position: absolute;
background-color: rgb(93,95,100);	
	}
	
	
#navigation{
	position: absolute;
	top: 70px;
	left: 8px;
	width: 200px;


	//min-height: 360px;
	background-color: rgb(93,95,100);
	float: left;
	height: 600px;
	
	}
#contentFrame {
	left:200px;
	background: rgb(240,240,240);
	width:100%;
	height:600px;
}
